<h2 id="modalTitle">Batoto Downloader</h2>
<p>
  This software was written by Koroshiya and is covered by the MIT license.
</p>
<p>
  It uses the following libraries/frameworks:
  <ul>
    <li>Electron</li>
    <li>http</li>
    <li>https</li>
    <li>request</li>
    <li>sanitize-filename</li>
    <li>fs</li>
    <li>node-zip</li>
    <li>feed-read</li>
    <li>jQuery</li>
    <li>Bootstrap</li>
    <li>Vex</li>
  </ul>
</p>